/* font-family: 'IBM Plex Mono', monospace; */

h1 .homepage {
	font-family: 'IBM Plex Mono', monospace;
}

h1 {
	font-size: 60px;
	font-family: 'Coiny', cursive;
	padding: 30px;
	position: right;
}

h2{
	font-size: 30px;
	font-family: 'IBM Plex Mono', monospace;
	font-style: italic;
}
p {
	font-family: 'IBM Plex Mono', monospace;
}
img {
	height: 300px;
	display: block;
	margin-left: auto;
  margin-right: auto;
}
.dogheads {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 100px;
}

img .dogheads {
	vertical-align: center;
}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1224px) {}

/* KERMIT PAGE */
.kermit {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.kermheads {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.kermywiggle {
	animation-name: wiggle;
	animation-duration: 3s;
}
@keyframes wiggle {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(-20deg); }
	50% { transform: rotate(20deg); }
	75% { transform: rotate(-20deg); }
	100% { transform: rotate(0deg); }
}
