/* font-family: 'IBM Plex Mono', monospace; */

h1 .homepage {
	font-family: 'IBM Plex Mono', monospace;
	padding-top: 30px;
}

h1 {
	font-size: 60px;
	font-family: 'Coiny', cursive;
	padding-right: 30px;
	margin-top: 30px;
	text-align: right;
}

h2{
	font-size: 30px;
	font-family: 'IBM Plex Mono', monospace;
	font-style: italic;
}
p {
	font-family: 'IBM Plex Mono', monospace;
}
img {
	width: 100%;
	display: block;
	margin-left: auto;
  margin-right: auto;
}
.dogheads {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 50px;
}

img .dogheads {
	vertical-align: center;
}
.homepage .marblehead {
	margin-top: -200px;
	margin-left: 20px;
	margin-right: -20px;
}
.homepage .peachhead {
	margin-top: -150px;
}
.homepage .kermithead {
	margin-top: 50px;
	margin-left: 25px;
	margin-right: -25px;
}
.homebutton {
	position: absolute;
	top: 40px;
	left: 40px;
	width: 40px;
	z-index: 2;
}
#homebutton:hover {
	fill: #000000;
}
.homepage {
	background-color: rgb(235,204,93);
}

.homepage #jennahead{
	height: 50px;
	width: auto;
	margin-left: 30px;
}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1224px) {}

/* MARBLES PAGE */
.marbles {
	background-color: rgb(0,177,179);
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 50px;
}
.marbleheads {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.marblehead4 {
	margin-top: 50px;
	margin-left: 40px;
	width: 75%;
}
.marblehead2{
	margin-top: 20px;
}
.marblehead5{
	margin-top: 30px;
}
.marblehead3{
	margin-top: -100px;
}

/* KERMIT PAGE */
.kermit {
	background-color: rgb(233,143,72);
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 50px;
}
.kermheads {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.kermhead6 {
	margin-top: 50px;
}
.kermhead2{
	margin-top: 20px;
	margin-left: 30px;
}
.kermhead3 {
	margin-top: 20px;
}
/*.kermhead1{
	margin-top: -50px;
}*/

.kermywiggle {
	animation-name: wiggle;
	animation-duration: 3s;
}


/* PEACH PAGE */
.peach {
	background-color: rgb(237,170,134);
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 50px;
}
.peachheads {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.peachhead4 {
	margin-top: 20px;
}
.peachhead2 {
	margin-top: 15px;
}
.peachhead3{
	margin-top: -20px;
}
/* BUNNY PAGE */
.bunny {
	background-color: rgb(224,228,63);
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 50px;
}
.bunnyheads {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.bunnyhead5{
	height: 50%;
}
.bunnyhead3 {
	margin-top: 70px;
}
.bunnyhead4 {
	margin-left: 20px;
}
/* VIDEO PAGE */
.videos {
	background-color: rgb(235,204,93);
}
.videogrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 50px;
	grid-gap: 50px;
	justify-content: space-evenly;
	align-items: center;
	justify-items: center;
}
.videos h1 {
	margin-top: 20px;
}

.videogrid p {
	line-height: 1.5;
}
.jenna{
		background-color: rgb(235,204,93);
}
.jennagrid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 50px;
}
.jennaheads {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.jennaheads img{
	width: 75%;
}
.jennahead5 {
	margin-left: 20px;
	margin-top: 20px;
}
.jennahead3 {
	margin-top: -80px;
}
.jennahead2 {
	margin-top: 20px;
}
.jennahead4{
	margin-left: 50px;
}
#downarrow {
	height: 90px;
	width:auto;
	margin-left: -10px;
}
/* ANIMATIONS */
@keyframes wiggle {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(-20deg); }
	50% { transform: rotate(20deg); }
	75% { transform: rotate(-20deg); }
	100% { transform: rotate(0deg); }
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
