/* font-family: 'IBM Plex Mono', monospace; */

h1 .homepage {
	font-family: 'IBM Plex Mono', monospace;
}

h1 {
	font-size: 60px;
	font-family: 'Coiny', cursive;
	padding-right: 30px;
	text-align: right;
}

h2{
	font-size: 30px;
	font-family: 'IBM Plex Mono', monospace;
	font-style: italic;
}
p {
	font-family: 'IBM Plex Mono', monospace;
}
img {
	width: 100%;
	display: block;
	margin-left: auto;
  margin-right: auto;
}
.dogheads {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 100px;
}

img .dogheads {
	vertical-align: center;
}

.home-icon {
	position: absolute;
	top: 40px;
	left: 40px;
}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1224px) {}

/* KERMIT PAGE */
.kermit {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 50px;
}
.kermheads {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.kermhead4 {
	grid-column: 1 / -1;
	grid-row: 2 / 3;

}
.kermywiggle {
	animation-name: wiggle;
	animation-duration: 3s;
}
@keyframes wiggle {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(-20deg); }
	50% { transform: rotate(20deg); }
	75% { transform: rotate(-20deg); }
	100% { transform: rotate(0deg); }
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
